<?xml version="1.0"?>
<module>
  <assemblies>
    <add assembly="EpiserverSiteWithEmpty"></add>
  </assemblies>
  <clientResources>
    <add name="epi.shell.ui" path="iPhone4/iPhone4.css" resourceType="Style"></add>
  </clientResources>
<!--
  <assemblies>
    <add assembly="AlloyTraining"></add>
  </assemblies>-->

 <!-- <clientResources>
    <add name="epi.shell.ui"
         path="iPhone4/iPhone4.css"
         resourceType="Style" />
  </clientResources>-->
  
</module>
  




<!--
<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
-->
