<?xml version="1.0"?>
<module>
  <clientResources>
    <add name="epi.shell.ui" path="iPhone4/iPhone4.css" resourceType="Style"></add>
  </clientResources>
</module>
  










<!--
<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
-->
