
@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.StandardPage>

@{
    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}

<h1>
    @Html.PropertyFor(x => x.CurrentPage.PageName)
</h1>
<div class="row">
    <div class="span8 clearfix">
        standard page
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
        @Html.PropertyFor(x => x.CurrentPage.Teaser)
    </div>
  
</div>
