

@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Learning.AdminInterface.AdminInterface>

<div>
    WebAdmins 组只能访问admin下的admin<br/>
    WebEditors 组只能访问admin下的Edit,<span style="color: red">但是好像访问不了，啥原因？</span><br />
    virtual role:1.inherit VirtualRoleProviderBase. 2,How to RegisterVirtualRoles<br/>
</div>