/EpiserverDemo/EpiserverDemo/bin
/EpiserverDemo/packages
/EpiserverSiteForSearch/EpiserverSiteForSearch/bin

/EpiserverSiteForSearch/packages
/EpiserverSiteWithEmpty/EpiserverSiteWithEmpty/bin
/EpiserverSiteWithEmpty/EpiserverSiteWithEmpty/obj
/EpiserverSiteWithEmpty/packages
/EpiserverSiteForSearch/EpiserverSiteForSearch/obj
/EpiserverDemo/EpiserverDemo/obj
/EpiserverSiteWithEmpty/EpiserverSiteWithEmpty/App_Data
