


@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Learning.Personalization.PersonalizationVisitorGroups>

<div>
    1.参考根目录下的Personalization.自定义criterion和model  <br/>
    2.在admin下的visitor groups下就可以耍自定义的东东 <br/>
    3.@Html.PropertyFor(x => x.CurrentPage.PersonalizationVisitorGroup)<br />
    4.例子有不同的国家显示不同的货币<br />
    5.可以在Dashboard上监视<br/>
    6.可以设置不同的组访问不同的内容，
</div>