

@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Learning.TinyMCE.LearningTinyMcePage>

<div>
    web.config配置怎么耍?<br/>
    Localizing a styles menu 没有配置成功,<br>
    Adding a TinyMCE plug-in , ~/Util/Editor/tinymce 这个目录咋搞？这个 TinyMCEPlugIn attribute怎么耍？<br>
    Configuring Spellchecker for TinyMCE， 是创建这个文件夹还是怎么弄？ \EPiServer.TinyMCESpellChecker\Dictionaries\

    
    @Html.PropertyFor(x=>x.CurrentPage.TinyMcexxx)

    @Html.PropertyFor(x=>x.CurrentPage.CustomPropertySidebar)
</div>