

@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Learning.TinyMCE.LearningTinyMcePage>

<div>
    web.config配置怎么耍?<br/>
    Localizing a styles menu 没有配置成功,<br>
    Adding a TinyMCE plug-in , ~/Util/Editor/tinymce 这个目录咋搞？这个 TinyMCEPlugIn attribute怎么耍？<br>
    Configuring Spellchecker for TinyMCE， 是创建这个文件夹还是怎么弄？ \EPiServer.TinyMCESpellChecker\Dictionaries\

    
    @Html.PropertyFor(x=>x.CurrentPage.TinyMcexxx)

    @Html.PropertyFor(x=>x.CurrentPage.CustomPropertySidebar)

    <br/>
    有三处可以进行设置<br/>
    1.admin-->config-->property configuration-->edit custom property types, 在这个下面查找XHTML string (>255)(点击进入)
    添加设置<br/>
    2.在代码中定义，在TinyMceController下看。<br/>
    3.admin-->Content type-->LearningTinyMcePage(自己定义的pagetype),添加属性

</div>