

@model EpiserverSiteWithEmpty.Models.ViewModels.ConfigurationSitePageDataViewModel
<div>
    ElementName:@Model.ElementName <br />
    RemoteWebServiceCulture:@Model.RemoteWebServiceCulture <br />

    Configuring episerver 的配置在web.config的episerver的节点上 有：<br/>
    < imageEditor><br/>
    preset width="40" height="30" <br/>
    @Model.CurrentPage.PresetImageEditor
    < linkValidator>
    < contentProvider>
    < applicationSettings>
    < tinyMCE>
    < visitorGroup>

    <br/>
    Configuring Image Service 这些配置怎么耍
    <br/>
    配置中学习到wcf 可以host的几种方式 https://docs.microsoft.com/en-us/dotnet/framework/wcf/hosting-services
</div>