
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<div class="row">
    <div class="span4">
        @RenderSection("RelatedContent", false)
        left navigation 4
    </div>
    <div class="span8">
        @RenderBody()
        left navigation 8
    </div>
</div>





