

@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Pages.FormsPage>


Forms Demo

@Html.PropertyFor(x => x.CurrentPage.FormsContentArea)

custome actor，view in forms property
<br/>
<br/>
<br />

<div class="block editorialblockwithheader col-md-6">
    xxxxxxxxxxxxxxxxxx1
</div>
<div class="block editorialblockwithheader col-md-6">
    xxxxxxxxxxxxxxxxxx2
</div>




