

@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Learning.GlobalizationScenario.GlobalizationScenario>

<div>
    http://world.episerver.com/documentation/Items/Developers-Guide/Episerver-CMS/9/Globalization/Globalization-scenarios/ <br/>
    方案1 没有测试成功：pageUseBrowserLanguagePreferences="true" in web.config <br/>
    方案2 没有测试：新建对应的语言网站 <br/>
    方案3 没有测试：设置cookie epslanguage <br/>
    <br/>
    Adding languages, CreateCulture 静态方法放在哪，如何使用
</div>