

@model EpiserverSiteWithEmpty.Models.ViewModels.DefaultPageViewModel<EpiserverSiteWithEmpty.Models.Learning.GlobalizationScenario.GlobalizationScenario>

<div>
    http://world.episerver.com/documentation/Items/Developers-Guide/Episerver-CMS/9/Globalization/Globalization-scenarios/ <br/>
    方案1 没有测试成功：pageUseBrowserLanguagePreferences="true" in web.config <br/>
    方案2 没有测试：新建对应的语言网站 <br/>
    方案3 没有测试：设置cookie epslanguage <br/>
    <br/>
    Adding languages, CreateCulture 静态方法放在哪，如何使用<br/>
    本地化用户界面-->请看newspage下的MainContentAreaTest属性，注意xml里的配置(newspage 想要替换这个就改成那个xxxpage) http://world.episerver.com/documentation/Items/Developers-Guide/Episerver-CMS/9/Globalization/localizing-the-user-interface/
    <br/>
    本地化base class属性<span style="color: red">不成功</span>
    <br/>
    本地化group name, 请查看GroupName = SystemTabNames.Content，都可以通过配置物理路径还是虚拟路径都可以实现
    <br/>
    
</div>