

<div style="color: red">
    The old Gadget framework is deprecated  没看完,内容多需要从gadget头看
</div>

<div >
   
    Custom_Property_Plug_ins&&Gadgets --gadget <br/>
    <br />https://world.episerver.com/documentation/developer-guides/CMS/user-interface/views/Configuring-the-dashboard/
    <br /> https://world.episerver.com/blogs/grzegorz-wiechec/dates/2017/1/the-old-gadget-framework-is-deprecated/
    <br />http://world.episerver.com/documentation/Items/Developers-Guide/Episerver-CMS/9/User-interface/dashboard-gadgets2/gadget-styling/#epiformarea
    <br />http://world.episerver.com/documentation/Items/Developers-Guide/Episerver-CMS/9/User-interface/dashboard-gadgets2/client-api-and-gadget-instance/
</div>

<div class="epi-contentArea">
    <h2>Two handy CSS classes</h2>
    <ul>
        <li>epi-contentArea</li>
        <li>epi-contentForm</li>
    </ul>
    <table class="epi-simple">
        <caption>Table caption</caption>
        <thead>
            <tr>
                <th scope="col">Heading One</th>
                <th scope="col">Heading Two</th>
                <th scope="col">Heading Three</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data A</td>
                <td>Lorem ipsum</td>
                <td>Dolor sit amet</td>
            </tr>
            <tr>
                <td>Data B</td>
                <td>Lorem Ipsum</td>
                <td>Dolor sit amet</td>
            </tr>
        </tbody>
    </table>
</div>
<br/><br/>
@*<form action="#" onsubmit="return false;" class="epi-formArea">
    <fieldset>
        <legend>Styling forms</legend>
        <p>
            The parent child relation
            of labels and inputs
            is discussed below.
        </p>
        <fieldset>
            <legend>Love CSS?</legend>
            <input id="radio1"
                   type="radio"
                   name="radio1" &#160;
                   checked="checked"
                   value="1" />
            <label for="radio1">Yes</label>
            <input id="radio2"
                   type="radio"
                   name="radio2"
                   value="2" />
            <label for="radio2">No</label>
        </fieldset>
        <div>
            <label for="text1">Please explain why</label>
            <input id="text2"
                   type="text" value="" />
        </div>
    </fieldset>
</form>*@
@*<div class="epi-contentArea">
    xxx
</div>*@